html, body{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background: url(img/back.jpg);
	background-size: cover;
}
.earth{
	width: 420px;
	padding: 100px;
	position: relative;
	z-index: 1;
}
.moon{
	position: absolute;
	width: 200px;
    top: 200px;
    left: 150px; 
    -webkit-animation: linear 10s orbita infinite;
    animation: linear 10s orbita infinite;
    z-index: 0;
}
@-webkit-keyframes orbita{
	0%{width: 120px;}
	24%{z-index: 0;}
	25%{left: 410px;
		top: 150px;
		z-index: 2;}
	50%{width: 200px;}
	74%{z-index: 2;}
	75%{
		top: 350px;
		left: 50px;
		z-index: 0;
	}
	100%{width: 120px;
		transform: rotate(360deg);}
}
@keyframes orbita{
	0%{width: 120px;}
	24%{z-index: 0;}
	25%{left: 410px;
		top: 150px;
		z-index: 2;}
	50%{width: 200px;}
	74%{z-index: 2;}
	75%{
		top: 350px;
		left: 50px;
		z-index: 0;
	}
	100%{width: 120px;
		transform: rotate(360deg);}
}
